@import "tailwindcss";
@theme {
  --color-primary: #EBBF80;
  --color-secondary: #51483F;
  --color-olive-drab:#7B7458
}


[data-scroll-container] {
  overflow: hidden;
  position: relative;
}

html{
     font-size: 70%;
      font-family: 'Poppins', sans-serif;

} 


@font-face {
    font-family: 'voyageregular';
    src: url('../fonts/voyage-regular-webfont.woff2') format('woff2'),
         url('../fonts/voyage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4 {
    font-family: 'voyageregular', sans-serif;
   
  }

body{
    font-size: 1rem;
    font-weight: 700;
  color: #51483F;
  background-color: #F8F6F0;
}





header .nav-link {
    @apply hover:text-white  text-[1.5rem] md:text-[1rem] text-secondary md:text-white font-semibold uppercase

  }

  .innerPage header .nav-link{
    @apply text-secondary opacity-40
  }

    .innerPage header .nav-link.active{
    @apply opacity-100
  }

  .header{
    @apply w-full   flex md:items-center justify-between z-25 fixed top-0 left-0 bg-transparent lg:px-[4rem] 
    h-40 transition-all duration-300 ease-in-out
  }


  header.sticky{
 @apply fixed top-0 left-0 z-50 w-full h-25 
         backdrop-blur-md bg-[rgb(255_255_255_/_70%)] 
      
    
}
header.hide{
    @apply translate-y-[-100%] transition-all duration-300 ease-in-out
}

header.sticky .nav-link{
    @apply text-olive-drab font-bold h-8
}
header.sticky .logo{
    @apply w-[7rem] object-contain
}


  .btn{
    @apply flex justify-center items-center px-6  rounded-full transition-colors duration-300 uppercase text-[1rem] font-bold
    }

    .btn-small{
        @apply min-w-40 h-12
    }
    .btn-large{
        @apply min-w-65 h-20 px-10
    }

   .btn-primary {
  @apply bg-primary text-secondary border border-primary 
         hover:text-white hover:bg-transparent hover:border-secondary
         relative overflow-hidden  transition-all duration-300 ease-in-out;
}

.btn-primary::before {
  content: '';
  @apply absolute inset-0 bg-secondary
         scale-x-0 origin-left transition-transform duration-300 rounded-full z-0;
}

.btn-primary:hover::before {
  @apply scale-x-100;
}

.btn-primary > span {
  @apply relative z-10;
}


    .btn-primary-outline{
        @apply border border-primary text-primary hover:bg-primary hover:text-secondary
    }

    .link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link--leda {
    overflow: hidden;
    line-height: 2;
}



.link::before {
    content: '';
}

.link::before, .link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #51483F;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link--leda::before {
    height: 2px;
    top: calc(100% - 5px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda::after {
    content: attr(data-text);
    height: 100%;
    top: 0;
    background: none;
    transform-origin: 100% 50%;
    transform: translate3d(150%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--leda:hover::after {
    transform: translate3d(0, 0, 0);
}

.link--leda span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover span {
    transform: translate3d(-150%, 0, 0);
}

.link--leda:hover{
  color: var(--color-olive-drab);
}

.text-clipath{
  clip-path: polygon(
    0% 50%, 100% 50%, /* start: collapsed center line */
    100% 50%, 0% 50%
  );
  /* transition: clip-path 1.8s cubic-bezier(0.77, 0, 0.175, 1); */
  will-change: clip-path;
  overflow: hidden;
  opacity: 0;
  
}




.explore__CTA{
    @apply -translate-y-[-80px] transition-all duration-1000 ease-in-out opacity-0
}


.is-inview .explore__CTA,
.mobile .explore__CTA{
    @apply translate-y-0 opacity-100  delay-[5.6s]  
}

.categories__nav{
   @apply flex items-center justify-between w-[100%] bg-transparent m-auto  z-30 p-10 px-10 md:px-40 gap-[3rem] text-secondary uppercase  translate-y-[0px] transition-all duration-1000 ease-in-out opacity-100;

}


.categories__nav a{
    @apply translate-y-[50px] transition-all duration-1000 ease-in-out opacity-0 font-bold
}

.cat-wrapper.is-inview .categories__nav a,
.mobile .categories__nav a{
    @apply translate-y-0 opacity-100  
}

.is-inview .categories__nav,
.mobile .categories__nav{
    @apply translate-y-0 opacity-100
}
.is-inview .explore__CTA,
.mobile .explore__CTA{
    @apply translate-y-0 opacity-100
}


.categories-sec{
  @apply  z-50 opacity-0 pointer-events-none py-[0rem];

  display: none;

}
   
.cat-wrapper.active .categories-sec{
  @apply opacity-100 pointer-events-auto;
 
}



.cat-wrapper.hide{
      transform: translateY(calc(100vh - 5.8rem)) !important;
       clip-path: inset(0 6rem 0 6rem) !important;
}


.cat-wrapper {
    clip-path: inset(0 6rem 0 6rem);
        transform: translateY(100vh);
        transition: all 0.8s ease;
transition-delay: 5.6s;
}
.cat-wrapper.is-inview,
.mobile .cat-wrapper{
            transform: translateY(calc(100vh - 5.8rem));
       
}
.cat-wrapper.active {
    clip-path: inset(0 0 0 0);
    /* transform: translateY(20vh); */
  transform: translateY(18vh);
}
.bg-img{
    @apply bg-center bg-no-repeat  top-0 left-0 bg-cover bg-[#F8F6F0];
}

.bg-img-2{
    @apply bg-center bg-no-repeat  top-0 left-0 bg-cover bg-white;
}


.heading-1{
    @apply  text-[6.25vw] font-normal  leading-30 
}

.heading-2{
    @apply  text-[4.375rem] font-normal  leading-20 
}

section .heading-1{
 @apply transform translate-y-0 lg:translate-y-[100%] transition-all duration-1000
}

 .is-inview .heading-1 {
    @apply translate-y-0
 }

 .btn-link{
    @apply text-secondary text-[1rem] font-[600] uppercase  transition-colors duration-300 hover:text-primary border-b-1 border-[#CECBC5] pb-1 tracking-[0]

 }


.arbor-typo h4{

background: linear-gradient(180deg, #FFFFFF -180%, rgb(123 116 88) 70%, rgb(123 116 88) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#scrollTickerContainer .ticker-track {
  display: flex;
  width: 200%; 
  animation: scrollTicker 20s linear infinite;
    animation-play-state: running;

}

#scrollTickerContainer:hover .ticker-track {
  animation-play-state: paused;
}

.c-cursor {
  z-index: 10000;
  position: fixed;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  margin-top: -.8rem;
  margin-left: -.8rem;
  border-radius: 50%;
  border: 0.0625rem solid #51483F;
  opacity: 1; /* Set to 1 so you can see it */
  overflow: hidden;
  top: 0 !important;
  left: 0 !important;
  transition:
    width 0.4s,
    height 0.4s,
    margin-top 0.4s,
    margin-left 0.4s,
    opacity 0.4s,
    transform 0.15s linear; /* faster follow feel */
}

.c-cursor__arrows {
    width: 12rem;
    height: 4rem;
    top: calc(50% - 2rem);
    left: calc(50% - 6rem);
    position: absolute;
    transition: transform .4s;
}

.c-cursor__arrows__right {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    transition: 0.5s;
}

.c-cursor__arrows__left {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
       transition: 0.5s;
}
.c-cursor__arrows svg {
    width: 1.375rem;
    height: .625rem;
    position: absolute;
    top: calc(50% - .3125rem);
    left: calc(50% - .6875rem);
}

.c-cursor__arrows svg * {
    fill: #51483F
}

#scrollTopBtn{
  @apply transition-all translate-y-20 opacity-0 duration-500 cursor-pointer
}

#scrollTopBtn.active{
  @apply opacity-100 -translate-y-0
}


img[data-scroll] {
  transition: transform 0.2s ease-out;
  will-change: transform;
}

small {
    font-size: 100%;
}

.innerPage #menu-toggle svg {
   @apply fill-secondary
}



/* #videoWrapper{
    top: 0;
  left: 50%;
  width: 50vw;
  position: fixed;
bottom: auto;
transform: translate(-50%, 90vh);

} */


.reveal-item::before {
 content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: white;
  width: var(--lineWidth, 0%);
    z-index: 10;
opacity: 30%;
  transition: 0.8s ease;
}



#filterNav .active {
    @apply bg-secondary text-white border-secondary;
  }






 #masonry-grid {
      margin-left: -20px;
      margin-right: -20px;
 
    }


    .masonry-item {
      float: left;
      width: 31%;
      box-sizing: border-box;
      padding: 30px;

      
    }





    .grid-sizer {
      width: 30%;
    }



span.leftEle img{
  transform: translateX(-100%);
  opacity: 0;
  display: block;
}

span.RightEle img{
  transform: translateX(100%);
  opacity: 0;
    display: block;
}


.logo-track {
  flex-shrink: 0;
}



.logo-box {
  @apply w-[22rem] h-[12rem] px-4 py-2 bg-[#f5f5f5] rounded-[1rem] mx-2 flex justify-center items-center shrink-0;
}
.logo-box.bg-wheat {
  @apply bg-[#e9ded3];
}
.logo-box img {
  @apply max-h-[60%] max-w-[60%] object-contain;
}

.logo-track {
  display: flex;
  width: max-content;
 
}

.scroll-left{
 animation: scroll-left 30s linear infinite;
}
.scroll-right{
  animation: scroll-right 30s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.tabs a{
     font-family: 'voyageregular';
  @apply text-olive-drab font-semibold uppercase text-[2rem] md:text-[2.5rem] opacity-50;
}

.tabs a.active{
  @apply opacity-100 
}

.project-card{
  overflow: hidden;
}

.project-card img{
      position: relative;
    display: block;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.project-card:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.project-card h4 {
    position: relative;
    overflow: hidden;
}

.project-card h4::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.project-card:hover h4::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}








    
.intro{
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
      transition: 0.2s linear;
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  transition: clip-path 1.5s linear, opacity 1.5s linear;
      font-size: 2.5vw;
z-index: 9999;

}


 .intro__fader {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    
}

.intro__hold {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.intro__img {
  height: 47vh;
  position: absolute;
  width: 52vw;
  clip-path: inset(100% 100% 100% 100%);
    opacity: 0;
  transition: clip-path 0.6s ease-out, opacity 0.5s ease-out;

  
}

.intro__img__hold {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.intro__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.intro__hold .intro__img:nth-child(2) {
  height: 23vh;
  transform: translate(-11em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(2) {
    height: 33vh;
    transform: translate(-22em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(3) {
  height: 21vh;
  transform: translate(8em, 15em);
  width: 41vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(3) {
    height: 26vh;
    transform: translate(8em, 17em);
    width: 25vw;
  }
}
.intro__hold .intro__img:nth-child(4) {
  height: 23vh;
  transform: translate(7em, -14em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(4) {
    height: 33vh;
    transform: translate(22em, -2em);
    width: 17vw;
  }
}
.intro__hold .intro__img:nth-child(5) {
  height: 16vh;
  transform: translate(-7em, -18em);
  width: 30vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(5) {
    height: 29vh;
    transform: translate(20em, -20em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(6) {
  height: 32vh;
  transform: translate(9em, -8em);
  width: 44vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(6) {
    height: 29vh;
    transform: translate(25em, 13em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(7) {
  height: 21vh;
  transform: translate(11em, 2em);
  width: 38vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(7) {
    height: 20vh;
    transform: translate(-10em, -25em);
    width: 16vw;
  }
}



.intro__img {
  position: absolute;
}

