@import "tailwindcss";
@theme {
  --color-primary: #EBBF80;
  --color-secondary: #51483F;
}


html{
     font-size: 70%;
      font-family: 'Poppins', sans-serif;

}

@media screen and (min-width: 1600px) {
    html {
        font-size: 87.5%;
    }

    .text-clipath h1{
        @apply leading-35
    }
    
}

@font-face {
    font-family: 'voyageregular';
    src: url('../fonts/voyage-regular-webfont.woff2') format('woff2'),
         url('../fonts/voyage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4 {
    font-family: 'voyageregular', sans-serif;
  }

body{
    font-size: 1rem;
    font-weight: 700;
}


.header{
    @apply opacity-0 translate-y-[-30px] transition-all duration-1000 ease-in-out 
}
header .nav-link {
    @apply hover:text-blue-600 text-[1rem] text-white font-normal uppercase

  }
.header.is-inview {
@apply opacity-100 translate-y-0
}
  .header{
    @apply w-full   flex items-center justify-between z-25 absolute top-0 left-0 bg-transparent p-[4rem] py-[3rem]
  }

  .btn{
    @apply px-6 py-3 rounded-full transition-colors duration-300 uppercase text-[1rem] font-bold
    }

    .btn-primary {
      @apply bg-primary text-secondary hover:bg-transparent hover:text-primary border border-primary
    }


    .btn-primary-outline{
        @apply border border-primary text-primary hover:bg-primary hover:text-secondary
    }


.btn-lg{
    @apply px-11 py-7 text-[1rem] font-bold
}

.text-clipath{
  clip-path: polygon(
    0% 50%, 100% 50%, /* start: collapsed center line */
    100% 50%, 0% 50%
  );
  transition: clip-path 1.8s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: clip-path;
  overflow: hidden;
  opacity: 0;

   
}

.is-inview .text-clipath{
  clip-path: polygon(
    0% 0%, 100% 0%,   /* full top */
    100% 100%, 0% 100% /* full bottom */
  );
  opacity: 1;
}



.explore__CTA{
    @apply -translate-y-[-50px] transition-all duration-1000 ease-in-out opacity-0
}


.is-inview .explore__CTA{
    @apply translate-y-0 opacity-100  delay-500
}

.categories__nav{
   @apply flex items-center justify-between w-[90%] bg-white m-auto absolute z-30 p-10 px-20 gap-[3rem] text-secondary uppercase bottom-0 left-0 right-0 translate-y-[50px] transition-all duration-1000 ease-in-out opacity-100;

}

.categories__nav.hide {
  @apply opacity-0 translate-y-[100px] pointer-events-none;
}
.categories__nav a{
    @apply translate-y-[50px] transition-all duration-1000 ease-in-out opacity-0 delay-1000
}

.is-inview.categories__nav a{
    @apply translate-y-0 opacity-100
}

.is-inview .categories__nav{
    @apply translate-y-0 opacity-100
}
.is-inview .explore__CTA{
    @apply translate-y-0 opacity-100
}


.categories-sec{
  @apply fixed left-0 right-0 bottom-0 z-50 opacity-0 pointer-events-none py-[6rem];
  clip-path: inset(0 6rem 0 6rem);
  transform: translateY(100vh);
  transition: transform 1.6s ease, clip-path 1s ease, opacity 0.5s ease;
  display: block;

}
   
.categories-sec.active{
  @apply opacity-100 pointer-events-auto;
  transform: translateY(30vh);
  clip-path: inset(0 0 0 0);
}



.categories__nav::before {
   content: '';
  position: absolute;
  top: 0;
  left: -12rem;
  width: calc(100% + 24rem); /* Wider than parent */
  height: 100%;
  background: #F8F6F0;
  background-image: url(../public/images/white-textture-bg.png);
  clip-path: inset(0 12rem 0 12rem); /* 12rem hidden on both sides initially */
  transition: clip-path 1.75s ease; /* Same duration & no delay */

  z-index: -1;
}

.categories__nav.active{
     transform: translateY(-30vh);
}

.categories__nav.active::before{
    clip-path: inset(0 0 0 0); 
}

.bg-img{
    @apply bg-center bg-no-repeat  top-0 left-0 bg-cover bg-[#F8F6F0];
}



.heading-1{
    @apply  text-[6.25vw] font-normal  leading-30
}
 

 .btn-link{
    @apply text-secondary text-[1.25rem] font-bold uppercase tracking-wider transition-colors duration-300 hover:text-primary before:content-[''] before:absolute before:w-0 before:h-[2px] before:bg-primary before:transition-all before:duration-300 before:bottom-0 before:left-0 hover:before:w-full relative inline-block
 }



























    
.intro{
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
      transition: 0.2s linear;
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  transition: clip-path 1.5s linear, opacity 1.5s linear;
      font-size: 2.5vw;


}

@media screen and (min-width: 1025px) {
  .intro {
    font-size: 0.70vw;
  }
    
}
 .intro__fader {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.intro__hold {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.intro__img {
  height: 47vh;
  position: absolute;
  width: 52vw;
  clip-path: inset(100% 100% 100% 100%);
    opacity: 0;
  transition: clip-path 0.6s ease-out, opacity 0.5s ease-out;

  
}
@media only screen and (min-width: 1025px) {
  .intro__img {
    width: 17vw;
  }
}
.intro__img__hold {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.intro__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.intro__hold .intro__img:nth-child(2) {
  height: 23vh;
  transform: translate(-11em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(2) {
    height: 33vh;
    transform: translate(-22em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(3) {
  height: 21vh;
  transform: translate(8em, 15em);
  width: 41vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(3) {
    height: 26vh;
    transform: translate(8em, 17em);
    width: 25vw;
  }
}
.intro__hold .intro__img:nth-child(4) {
  height: 23vh;
  transform: translate(7em, -14em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(4) {
    height: 33vh;
    transform: translate(22em, -2em);
    width: 17vw;
  }
}
.intro__hold .intro__img:nth-child(5) {
  height: 16vh;
  transform: translate(-7em, -18em);
  width: 30vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(5) {
    height: 29vh;
    transform: translate(20em, -20em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(6) {
  height: 32vh;
  transform: translate(9em, -8em);
  width: 44vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(6) {
    height: 29vh;
    transform: translate(25em, 13em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(7) {
  height: 21vh;
  transform: translate(11em, 2em);
  width: 38vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(7) {
    height: 20vh;
    transform: translate(-10em, -25em);
    width: 16vw;
  }
}



.intro__img {
  position: absolute;
}

