@import "tailwindcss";
@theme {
  --color-primary: #EBBF80;
  --color-secondary: #51483F;
  --color-olive-drab:#7B7458
}




html{
     font-size: 70%;
      font-family: 'Poppins', sans-serif;

} 

@media screen and (min-width: 1600px) {
    html {
        font-size: 87.5%;
    }

    .text-clipath h1{
        @apply leading-35
    }

    .footer_wrapper{
        @apply py-[12rem]
    }
    
}

@font-face {
    font-family: 'voyageregular';
    src: url('../fonts/voyage-regular-webfont.woff2') format('woff2'),
         url('../fonts/voyage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4 {
    font-family: 'voyageregular', sans-serif;
   
  }

body{
    font-size: 1rem;
    font-weight: 700;
  color: #51483F;
}





header .nav-link {
    @apply hover:text-white text-[2rem] md:text-[1rem] text-secondary md:text-white font-normal uppercase

  }

  .header{
    @apply w-full   flex md:items-center justify-between z-25 absolute top-0 left-0 bg-transparent lg:px-[4rem] 
    h-40 transition-all duration-300 ease-in-out
  }


  header.sticky{
    @apply bg-[rgb(255_255_255_/_50%)] fixed top-0 left-0 z-90   h-25
}
header.hide{
    @apply translate-y-[-100%] transition-all duration-300 ease-in-out
}

header.sticky .nav-link{
    @apply text-olive-drab font-bold h-8
}
header.sticky .logo{
    @apply w-[7rem] object-contain
}


  .btn{
    @apply flex justify-center items-center px-6  rounded-full transition-colors duration-300 uppercase text-[1rem] font-bold
    }

    .btn-small{
        @apply min-w-40 h-12
    }
    .btn-large{
        @apply min-w-65 h-20
    }

    .btn-primary {
      @apply bg-primary text-secondary hover:bg-transparent hover:text-primary border border-primary
    }


    .btn-primary-outline{
        @apply border border-primary text-primary hover:bg-primary hover:text-secondary
    }




.text-clipath{
  clip-path: polygon(
    0% 50%, 100% 50%, /* start: collapsed center line */
    100% 50%, 0% 50%
  );
  transition: clip-path 1.8s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: clip-path;
  overflow: hidden;
  opacity: 0;

   transition-delay: 5.2s;
}

.is-inview .text-clipath{
  clip-path: polygon(
    0% 0%, 100% 0%,   /* full top */
    100% 100%, 0% 100% /* full bottom */
  );
  opacity: 1;
 
}



.explore__CTA{
    @apply -translate-y-[-80px] transition-all duration-1000 ease-in-out opacity-0
}


.is-inview .explore__CTA{
    @apply translate-y-0 opacity-100  delay-[5.6s]  
}

.categories__nav{
   @apply flex items-center justify-between w-[100%] bg-transparent m-auto  z-30 p-10 px-40 gap-[3rem] text-secondary uppercase  translate-y-[0px] transition-all duration-1000 ease-in-out opacity-100;

}


.categories__nav a{
    @apply translate-y-[50px] transition-all duration-1000 ease-in-out opacity-0 
}

.cat-wrapper.is-inview .categories__nav a{
    @apply translate-y-0 opacity-100  
}

.is-inview .categories__nav{
    @apply translate-y-0 opacity-100
}
.is-inview .explore__CTA{
    @apply translate-y-0 opacity-100
}


.categories-sec{
  @apply  z-50 opacity-0 pointer-events-none py-[0rem];

  display: none;

}
   
.cat-wrapper.active .categories-sec{
  @apply opacity-100 pointer-events-auto;
 
}



.cat-wrapper.hide{
      transform: translateY(calc(100vh - 5.8rem)) !important;
       clip-path: inset(0 6rem 0 6rem) !important;
}


.cat-wrapper {
    clip-path: inset(0 6rem 0 6rem);
        transform: translateY(100vh);
        transition: all 0.8s ease;
transition-delay: 5.6s;
}
.cat-wrapper.is-inview{
            transform: translateY(calc(100vh - 5.8rem));
       
}
.cat-wrapper.active {
    clip-path: inset(0 0 0 0);
    /* transform: translateY(20vh); */
  transform: translateY(18vh);
}
.bg-img{
    @apply bg-center bg-no-repeat  top-0 left-0 bg-cover bg-[#F8F6F0];
}



.heading-1{
    @apply  text-[6.25vw] font-normal  leading-30 overflow-hidden 
}
 .heading-1 span{
    @apply transform translate-y-[100%] transition-all duration-2000 inline md:block
 }

 .is-inview .heading-1 span{
    @apply translate-y-0
 }

 .btn-link{
    @apply text-secondary text-[1rem] font-bold uppercase tracking-wider transition-colors duration-300 hover:text-primary border-b-1 border-[#CECBC5] pb-1

 }

 @media (max-width: 600px) {

 #mobile-menu{
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

#mobile-menu.show{
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
}

 @media (max-width: 768px) {
  html, body{
    overflow-x: hidden !important;
  }
  .parallax-section > div.relative.z-10 > div {
    position: static !important;
    margin: 1rem auto;
  }
  .heading-1 {
    font-size: 4.5rem; /* Adjusted for smaller screens */
    line-height: 1.2; /* Adjusted for smaller screens */
  }
  .heading-1 br{
    display: none; /* Hide line breaks on smaller screens */
  }
  .address-text br{
  display: none;
}
.heading-1 span {
display: inline;

}

 }
.arbor-typo h4{

background: linear-gradient(180deg, #FFFFFF -180%, rgb(123 116 88) 70%, rgb(123 116 88) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#scrollTickerContainer .ticker-track {
  display: flex;
  width: 200%; 
  animation: scrollTicker 20s linear infinite;
}

.c-cursor {
  z-index: 10000;
  position: fixed;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  margin-top: -.8rem;
  margin-left: -.8rem;
  border-radius: 50%;
  border: 0.0625rem solid #51483F;
  opacity: 1; /* Set to 1 so you can see it */
  overflow: hidden;
  top: 0 !important;
  left: 0 !important;
  transition:
    width 0.4s,
    height 0.4s,
    margin-top 0.4s,
    margin-left 0.4s,
    opacity 0.4s,
    transform 0.15s linear; /* faster follow feel */
}

.c-cursor__arrows {
    width: 12rem;
    height: 4rem;
    top: calc(50% - 2rem);
    left: calc(50% - 6rem);
    position: absolute;
    transition: transform .4s;
}

.c-cursor__arrows__right {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    transition: 0.5s;
}

.c-cursor__arrows__left {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
       transition: 0.5s;
}
.c-cursor__arrows svg {
    width: 1.375rem;
    height: .625rem;
    position: absolute;
    top: calc(50% - .3125rem);
    left: calc(50% - .6875rem);
}

.c-cursor__arrows svg * {
    fill: #51483F
}














    
.intro{
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
      transition: 0.2s linear;
  clip-path: inset(0% 0% 0% 0%);
  opacity: 1;
  transition: clip-path 1.5s linear, opacity 1.5s linear;
      font-size: 2.5vw;


}

@media screen and (min-width: 1025px) {
  .intro {
    font-size: 0.70vw;
  }
    
}
 .intro__fader {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.intro__hold {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.intro__img {
  height: 47vh;
  position: absolute;
  width: 52vw;
  clip-path: inset(100% 100% 100% 100%);
    opacity: 0;
  transition: clip-path 0.6s ease-out, opacity 0.5s ease-out;

  
}
@media only screen and (min-width: 1025px) {
  .intro__img {
    width: 17vw;
  }
}
.intro__img__hold {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.intro__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.intro__hold .intro__img:nth-child(2) {
  height: 23vh;
  transform: translate(-11em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(2) {
    height: 33vh;
    transform: translate(-22em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(3) {
  height: 21vh;
  transform: translate(8em, 15em);
  width: 41vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(3) {
    height: 26vh;
    transform: translate(8em, 17em);
    width: 25vw;
  }
}
.intro__hold .intro__img:nth-child(4) {
  height: 23vh;
  transform: translate(7em, -14em);
  width: 35vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(4) {
    height: 33vh;
    transform: translate(22em, -2em);
    width: 17vw;
  }
}
.intro__hold .intro__img:nth-child(5) {
  height: 16vh;
  transform: translate(-7em, -18em);
  width: 30vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(5) {
    height: 29vh;
    transform: translate(20em, -20em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(6) {
  height: 32vh;
  transform: translate(9em, -8em);
  width: 44vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(6) {
    height: 29vh;
    transform: translate(25em, 13em);
    width: 23vw;
  }
}
.intro__hold .intro__img:nth-child(7) {
  height: 21vh;
  transform: translate(11em, 2em);
  width: 38vw;
}
@media only screen and (min-width: 1025px) {
  .intro__hold .intro__img:nth-child(7) {
    height: 20vh;
    transform: translate(-10em, -25em);
    width: 16vw;
  }
}



.intro__img {
  position: absolute;
}

